<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    <title>User ManageMent</title>
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style type="text/css">
        #listid{
            position: absolute;
            right: 50%;width: 10px; border:3px;color: black;

        }
    </style>
</head>
<body>
    <div>
        <h2 >Finito la first project</h2>
        <div>
            <form id="form">
                <h4>Add User</h4>
                First name:<br>
                <input id="firstname" type="text" name="firstname">
                <br>
                Last name:<br>
                <input id="lastname" type="text" name="lastname">
                <br>
                Phone No:<br>
                <input id="phone" type="text" name="phone">
                <br>
                <button  id='btn' type="submit">submit</button>
            </form>
        </div>
        <table id="table" style="width: 50%">
            <thead>
                <tr>
                    <th id="fn">First name</th>
                    <th id="ln">Last name</th>
                    <th id="ph">Phone</th>
                </tr>
            </thead>
            <tbody id='users-body'>

            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        const appendUser = (user)  => {
            $('#users-body').append(`<tr id="${ user._id }">
                <td contenteditable="true" class='name'>${user.first}</td>
                <td contenteditable="true" class='lastname'>${user.last}</td>
                <td contenteditable="true" class='phone'>${user.mobile}</td>
                <td>
                <button onclick='deleteUser("${ user._id }")' type='button'>Delete</button>
                <button onclick='updateUser("${ user._id }")' type='button'>Edit</button></td>
                </tr>`)
        }

        // const loadUsers = ()  => {
        //     // ajax to backend to get list of users
        //     $.ajax({
        //         url: '/list',
        //         method: 'GET',
        //         success: (response) => {
        //             console.log(response)
        //             for (user of JSON.parse(response.data))
        //                 appendUser(user)
        //         },
        //         error: (err) => {
        //             console.log(err)
        //         }
        //     })
        // }

        //Axios!!!

        const loadUsers = () =>{
            axios.get('/list')
                .then(({ data })=>{
                    console.log(data)
                    for(user of JSON.parse(data.data))
                        appendUser(user)
                }).catch((reject)=>{
                    console.log(reject)
                })
        }

        //add user!
        // $('#form').submit((e) => {
        //     e.preventDefault()
        //     console.log(e)
        //     var user = {
        //         first: $(`#firstname`).val(),
        //         last: $('#lastname').val(),
        //         mobile: $('#phone').val()
        //     }
        //     console.log(user)
        //     $.ajax({
        //         url: '/add',
        //         method: 'POST',
        //         data: user,
        //         success: (res) => {
        //                 console.log(res)
        //                 window.location.reload()
        //         },
        //         error: (err) => {
        //             console.log(err)
        //         }
        //     })
        // })

        //Another AXIOS

        $('#form').submit((e) =>{
            e.preventDefault()
            var user = {
                    first: $(`#firstname`).val(),
                    last: $('#lastname').val(),
                    mobile: $('#phone').val()
                }
            axios.post('/add', user)
                .then((resolve) =>{
                    console.log(resolve)
                    window.location.reload()
                }).catch((reject)=>{
                    console.log(reject)
                })
        })


        function deleteUser(userId) {
            $.ajax({
                url: '/delete',
                method: 'POST',
                data: {
                    id: userId
                },
                success: (res) =>{
                    console.log(res)
                    window.location.reload()
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }

        // YAY Another AXIOS

        deleteUser = (userId) => {
            axios.post('/delete',{ "id": userId})
                .then((resolve) =>{
                    console.log(resolve)
                    window.location.reload()
                }).catch((reject) => {
                    console.log(reject)
                })
        }

        // function updateUser(userId) {
        //     //getting the line we want to update
        //     element=$(`#`+userId)
        //     userName = element.children('.name').text()
        //     userLast = element.children('.lastname').text()
        //     userPhone = element.children(".phone").text()
        //     console.log(userPhone)
        //     $.ajax({
        //         url: '/update',
        //         method: 'POST',
        //         data: {
        //             id: userId,
        //             first: userName,
        //             last: userLast,
        //             mobile: userPhone
        //         },
        //         success: (res) =>{
        //             console.log(res)
        //             //window.location.reload()
        //         },
        //         error: (err) => {
        //             console.log(err)
        //         }
        //     })
        // }

        //Another one bite the AXIOSSS

        updateUser = (userId) => {
            element=$(`#`+userId)
            userName = element.children('.name').text()
            userLast = element.children('.lastname').text()
            userPhone = element.children(".phone").text()
            data = {
                'id': userId,
                'first': userName,
                'last': userLast,
                'mobile': userPhone
            }
            axios.post('/update',data)
                .then((resolve)=>{
                    console.log(resolve)
                }).catch((reject) =>{
                    console.log(reject)
                })
        }




        //Lets try Axios.

        loadUsers()

    </script>
</body>
</html>







